.container {
  margin: 16px;
}

.container > h3 {
  font-weight: 500;
  text-align: center;
}

.formContainer {
  width: 100%;
}

.formContainer > button {
  float: right;
}

.formContainer > input {
  width: calc(100% - 24px);
  margin: 4px;
  border: 2px solid var(--primary-main);
  outline: none;
  background-color: var(--primary-main);
  padding: 8px;
  color: #fff;
}

.formContainer > input::placeholder {
  color: var(--secondary-light);
}

.formContainer > input:hover {
  border: 2px solid var(--secondary-primary);
}

.formContainer > input:focus {
  border: 3px solid var(--secondary-primary);
}

.formContainer > textarea {
  width: calc(100% - 24px);
  margin: 4px;
  border: 2px solid var(--primary-main);
  outline: none;
  background-color: var(--primary-main);
  padding: 8px;
  color: #fff;
  resize: none;
}

.formContainer > textarea::placeholder {
  color: var(--secondary-light);
}

.formContainer > textarea:hover {
  border: 2px solid var(--secondary-primary);
}

.formContainer > textarea:focus {
  border: 3px solid var(--secondary-primary);
}