.container {
  background-color: var(--secondary-primary);
  padding: 32px;
}

.container > p {
  color: #fff;
  text-align: center;
  margin: 24px 0;
}

.linksContainer {
  display: flex;
  justify-content: center;
  margin: 16px;
}

.linkBox {
  background-color: var(--background-dark);
  padding: 16px;
  transition: all 0.3s ease;
  text-decoration: none;
  color: var(--primary-main);
  margin: 0 16px;
  font-size: 1.5rem;
}

@media (max-width: 600px) {
  .linkBox {
    margin: 0 8px;
  }
}

.linkBox:hover {
  transform: scale(1.3);
  background-color: var(--primary-main);
  color: #fff;
}

