.container {
  height: 30px;
  background-color: var(--background-main);
  display: flex;
  width: 100%;
  margin: 16px 0px;
  position: relative;
}

.titleTxt {
  background-color: var(--primary-dark);
  text-align: center;
  min-width: 20%;
  width: 20%;
  color: #fff;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.percentTxt {
  position: absolute;
  right: 3px;
  top: 5px;
  margin: 0;
}

.percent {
  width: 80%;
  min-width: 80%;
}

.innerPercent {
  background-color: var(--primary-main);
  height: 30px;
  transition: all 0.7s;
  transition-delay: 0.5s;
}