.main {
  min-height: 100vh;
  position: relative;
} 

/* Header Section */
.header {
  min-height: 64px;
  background-color: var(--secondary-primary);
  top: 0;
  min-width: 100%;
  display: flex;
  align-items: center;
  position: sticky;
  z-index: 999;
  border-bottom: 8px solid var(--primary-main);
}

.header input[type="radio"] {
  display: none;
}

.headerBox {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: calc(100% - 96px);
  padding: 0px 48px;
  position: relative;
}

.headerBoxMobile {
  display: none;
  position: relative;
}

.menuIcon {
  margin: 16px;
  color: #fff;
}

.menuBox {
  height: 0;
  transition: height 0.5s ease;
  top: 80px;
  width: 100%;
  position: absolute;
  background-color: var(--secondary-primary);
  overflow: hidden;
  display: none;
  text-align: center;
}

@media (max-width: 600px) {
  .homeText {
    font-size: 1.5rem;
  }
  .viewBtn {
    font-size: 1.25rem;
  }
  .homeTextHighlight {
    font-size: 1.75rem;
  }
}

@media (min-width: 100px) and (max-width: 900px) {
  .headerBox {
    display: none;
  }
  .menuBox {
    display: block;
  }
  .header {
    display: block;
  }
  .headerBoxMobile {
    display: block;
  }
}

.slider {
  width: 152px;
  height: 3px;
  transform: translateX(0);
  transition: transform 500ms ease;
  background-color: var(--primary-main);
  position: absolute;
  bottom: 8px;
}

input[id="rad-home"]:checked ~ .slider {
  transform: translateX(0);
}
input[id="rad-profile"]:checked ~ .slider {
  transform: translateX(100%);
}
input[id="rad-projects"]:checked ~ .slider {
  transform: translateX(200%);
}
input[id="rad-games"]:checked ~ .slider {
  transform: translateX(300%);
}
input[id="rad-blogs"]:checked ~ .slider {
  transform: translateX(400%);
}
input[id="rad-contact"]:checked ~ .slider {
  transform: translateX(500%);
}

.navItem {
  color: #fff;
  font-size: 1.25rem;
  margin: 16px;
  min-width: 120px;
}

.highlightNav {
  color: var(--primary-main);
}

.navItem:hover {
  color: var(--primary-main);
}


