.main {
  min-height: 100vh;
  position: relative;
}


/* Background Canvas */
.canvas {
  background: linear-gradient(45deg, #0d1011 0% 20%, #163486);
  margin: 0;
  padding: 0;
  border: none;
  position: absolute;
  height: 100vh;
  width: 100%;
  top: 0;
  left: 0;
  z-index: -99;
}

/* Layer On top of the canvas */
.layerOnCanvas {
  position: relative;
  height: 100vh;
  /* min-width: 100vw; */
  background: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}

.homeText {
  z-index: 2;
  font-size: 2.5rem;
  line-height: 3rem;
  text-align: center;
}

.homeTextHighlight {
  color: var(--primary-main);
  font-weight: 500;
  font-size: 3rem;
}

.classIcon {
  transition: all 0.5s ease;
}

.viewBtn {
  background: none;
  border: 2px solid #fff;
  color: #fff;
  font-size: 1.5rem;
  padding: 12px 16px;
  margin: 16px;
  cursor: pointer;
  transition: all 0.5s ease;
  z-index: 999;
}

.viewBtn:hover {
  background-color: var(--primary-main);
  border-color: var(--primary-main);
}

.viewBtn:hover .classIcon {
  transform: rotate(90deg);
}

/* Header Section */
.header {
  min-height: 64px;
  background-color: var(--secondary-primary);
  top: 0;
  min-width: 100%;
  display: flex;
  align-items: center;
  position: sticky;
  z-index: 999;
  border-bottom: 8px solid var(--primary-main);
}

.header input[type="radio"] {
  display: none;
}

.headerBox {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: calc(100% - 96px);
  padding: 0px 48px;
  position: relative;
}

.headerBoxMobile {
  
}

@media (min-width: 100px) and (max-width: 900px) {
  .headerBox {
    display: none;
  }
}

.slider {
  width: 152px;
  height: 3px;
  transform: translateX(0);
  transition: transform 500ms ease;
  background-color: var(--primary-main);
  position: absolute;
  bottom: 8px;
}

input[id="rad-home"]:checked ~ .slider {
  transform: translateX(0);
}
input[id="rad-about"]:checked ~ .slider {
  transform: translateX(100%);
}
input[id="rad-projects"]:checked ~ .slider {
  transform: translateX(200%);
}
input[id="rad-games"]:checked ~ .slider {
  transform: translateX(300%);
}
input[id="rad-blog"]:checked ~ .slider {
  transform: translateX(400%);
}
input[id="rad-contact"]:checked ~ .slider {
  transform: translateX(500%);
}

.noBorderBtn {
  background: none;
  cursor: pointer;
  border: none;
}

.navItem {
  color: #fff;
  font-size: 1.25rem;
  margin: 16px;
  min-width: 120px;
}

.highlightNav {
  color: var(--primary-main);
}

.navItem:hover {
  color: var(--primary-main);
}


