.container {
  margin: 16px;
  /* padding: 16px; */
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.introChild {
  margin: 48px;
  width: calc(50% - 96px);
}

@media (max-width: 600px) {
  .introChild {
    width: 100%;
  }
}