.container {
  margin: 16px;
  width: calc(100% - 32px);
  display: flex;
  flex-wrap: wrap;
}

.introChild {
  margin: 24px;
  width: calc(50% - 48px);
}

@media (max-width: 600px) {
  .introChild {
    width: calc(100% - 48px);
  }
}