.container {
  margin: 16px;
  max-width: 300px;
}

.container h5 {
  /* margin: 0px; */
}

.container .btn {
  border: 2px solid #000;
  background: none;
}

.link {
  text-decoration: none;
  color: #000;
}

.link:hover h3 {
  color: var(--primary-main);
}

.dividerLine {
  height: 3px;
  width: 100px;
  background-color: var(--primary-main);
  margin: 16px 0;
}

.cardsContainer {
  margin-top: 48px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
