.hidden {
  opacity: 0;
  transition: all 0.7s;
  filter: blur(5px);
}

.from-left {
  transform: translateX(-100%);
}

.from-right {
  transform: translateX(200%);
}

.zoom-in {
  transform: scale(0);
}

.show {
  opacity: 1;
  filter: blur(0);
  transform: scale(1, 1) translateX(0);
}
